@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital@1&family=Roboto:wght@900&family=Teko:wght@700&display=swap');
 
:root{
    --primary:rgb(0, 0, 0, 0.8);
    --secondary:rgb(0, 0, 0, 0.3);}

*{margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;}

  body{background:linear-gradient(180deg, var(--primary), var(--secondary)),
           url(images/SpaceDrunk.jpg) no-repeat;
         background-size: cover;
         background-position: center;}

  
    .hero{height: 100vh;
          width: 100%;}

          .nav {display: flex;
                align-items: center;
                justify-content: space-between;
                padding-top:45px;
                padding-left: 8%;
                padding-right: 8%;}

                .logo{ color: white;
                       font-size: 35px;
                       letter-spacing: 1px;
                       cursor: pointer;}

                       #log{Color:rgb(255, 95, 31) ;}

     .nav ul li{ list-style-type: none;
                display:inline-block;
                padding: 10px 25px;}

      .nav ul li a{color: white;
                   text-decoration: none;
                   font-weight: bold;
                   font-size: large;
                   text-transform: capitalize;
    }          

    .nav ul li a:hover{ color:rgb(255, 95, 31);
                        transition: 0.3s ease;}

                        .button{background-color: rgb(255, 0, 0);
                                color:white;
                                text-decoration: none;
                                border: 2px solid transparent;
                                padding:10px 25px;
                                border-radius: 30px;
                                transition: 0.3s ease;}
                                
    .button:hover{transform: scale(1.2);
                  background-color: rgb(255, 95, 31);}

    .content{ text-align: center;
               color: rgb(255, 95, 31);
               margin-top: 5%;
               }

               .content h1{font-size: 40px;}

    .btn{background-color: rgb(255, 0, 0);
        color:white;
        text-decoration: none;
        border: 2px solid transparent;
        padding:5px ;
        border-radius: 30px;
        transition: 0.3s ease;
        margin-top: 18px}

        .btn:hover{transform: scale(1.2);
                   background-color: rgb(255, 95, 31);}



            .container{width: 100%;
                       height: 40vh;
                       display: flex;
                       justify-content: center;
                       align-items: center;}
                                                          
        .box{ width: 170px;
              height: 280px;
              background-color:rgb(27, 27, 27);
              border-radius: 10px;
              box-shadow: 2px 10px 12px rgb(0, 0, 0, 0.5);
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: space-between;
              box-sizing: border-box;
              margin: 10px 15px;
              padding: 10px 10px;}
                                                          
                  .Org{height: 210px;
                       max-height: 100%;}
                                                              
                       .watch-btn{width:90px ;
                                height: 30px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                background-color: rgb(148, 54, 0);
                                color: white ;
                                font-weight: 400;
                                border-radius: 10px;
                                 box-shadow:2px 2px 30px rgba(0, 0, 0, 0.7) ;
                                 margin: 10px 10px;}
                                                          
 .watch-btn:hover{background-color:rgb(255, 94, 0);
                box-shadow:2px 2px 30px rgba(255, 94, 0, 0.7) ;
                transition: all ease 0.3s;}     
                                                                                                            
          .box a {font-size: small;
                  text-decoration: none;}

        .twondrow{margin-top:30px;}

          img:hover{ transform: scale(1.2);
                     transition: 0.3s ease;}